@use "../../foundation/all" as *;
@use "../component/component" as *;

.blog_details {
    padding: 7rem 0 18.7rem;

    @include sp {
        padding: 5rem 0 19.7rem;
    }
}

.blog-details__img img {
    aspect-ratio: 600 / 350;
    object-fit: cover;

    @include sp {
        aspect-ratio: 335 / 200;
    }
}

.blog-details__sns-icon {

    &.facebook {
        width: 10.5rem;
    }

    &.twitter {
        width: 8.8rem;
    }

    &.hatena {
        width: 9.3rem;
    }

    &.line {
        width: 8.1rem;
    }

    &.pocket {
        width: 9.1rem;
    }

    @include sp {

        &.facebook,
        &.twitter,
        &.hatena,
        &.line,
        &.pocket {
            width: 6.5rem;
        }
    }
}

.blog-details__main {
    position: relative;

    span {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.blog-details__inner {
    margin-bottom: 10rem;

    @include sp {
        margin-bottom: 9rem;
    }
}

.blog-details__img {

    @include sp {
        width: 100%;
        height: auto;
    }
}

.blog-details__date {
    display: block;
    text-align: left;
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-top: 0.5rem;

    @include sp {
        margin-top: 0.5rem;
    }
}

.blog-details__sns-list {
    display: flex;
    column-gap: 0.3rem;
    margin-top: 2.2rem;

    @include sp {
        margin-top: 2.4rem;
    }
}

.blog-details__sns-icon {
    @include sp {
        aspect-ratio: 65 / 40;
    }
}

.blog-details__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5.6rem;
    margin-bottom: 0;

    @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
        margin-top: 3rem;
    }
}

.blog-details__text {
    line-height: calc(30 / 18);
    margin: 5rem 0 5.5rem;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        margin: 2.6rem 0 5.5rem;
    }

    h2 {
        margin-top: 3.3rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: calc(40 / 20);

        @include sp {
            margin-top: 3.9rem;
            line-height: calc(30 / 20);
        }
    }

    p {
        margin-top: 1.5rem;

        @include sp {
            margin-top: 2.5rem;
        }
    }

    figure {
        width: 33.5rem;
        margin-top: 1.5rem;

        @include sp {
            margin-top: 6rem;
            width: 100%;
        }
    }

    hr.wp-block-separator.has-alpha-channel-opacity,
    hr {
        border: none;
        height: 0.5px;
        background-color: $black;
        margin-top: 4.5rem;
        width: 100%;

        @include sp {
            margin-top: 3.5rem;
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        position: relative;
        padding-left: 0.9rem;
        line-height: 1.5;
        margin-top: 5rem;

        @include sp {
            line-height: calc(30 / 20);
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 0.3rem;
            height: 100%;
            background-color: $black;

            @include sp {
                width: 0.3rem;
            }
        }
    }

    p.blog-details__link--text {
        background-color: #E8E8E8;
        padding: 1.8rem 3rem 1rem 6.7rem;
        position: relative;
        line-height: calc(30 / 18);
        margin-top: 2.2rem;
        max-width: 60rem;

        @include sp {
            max-width: 100%;
            font-size: 1.6rem;
            line-height: calc(30 / 16);
            padding: 1.8rem 2rem 1rem 7rem;
            margin-top: 2rem;
        }

        @media screen and (max-width: 374px) {
            padding: 1.8rem 1rem 1rem 5rem;
        }

        &::before {
            content: "";
            background-image: url(../img/blog_details/blog_deco.svg);
            background-repeat: no-repeat;
            background-size: 2.7rem;
            position: absolute;
            top: 2rem;
            left: 3rem;
            width: 2.7rem;
            aspect-ratio: 1 /1;

            @include sp {
                left: 2.5rem;
            }

            @media screen and (max-width: 374px) {
                left: 0.2rem;
            }
        }
    }
}

p.blog-details__link-btn {
    margin-top: 3rem;
}

blockquote.wp-block-quote {
    border-left: none;
    border: none;
}


.wp-block-list {
    margin-top: 2.8rem;
    line-height: calc(30 / 18);
    padding-left: 1.8rem;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }

    li {
        position: relative;

        &::before {
            content: "・";
            position: absolute;
            top: 0;
            left: -1.8rem;
        }
    }
}


.blog-details__link {
    margin: 5.5rem 0 5.5rem;

    @include sp {
        margin: 5rem 0 4.5rem;
    }
}


.blog-details__link-btn {
    display: inline-block;
    margin-top: 3.2rem;
    font-size: 2rem;
    line-height: 1;
    color: $red;
    font-weight: bold;
    border-bottom: 1px solid $red;
    padding-bottom: 0.2rem;
}

.blog-details__related {
    span {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.blog__img {
    position: relative;
    width: 20rem;
    aspect-ratio: 260 / 183;

    @include sp {
        width: 16rem;
    }
}

.blog__text-wrapper {
    flex: 1;

    @include sp {
        width: 100%;
    }

    time {
        display: block;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        margin-top: 1.2rem;

        @include sp {
            margin-top: 0.4rem;
            text-align: left;
        }
    }
}


/* ===========================
   sidebar
   =========================== */

.sidebar__newsletter,
.sidebar__search {
    margin-bottom: 2.9rem;
}

.blog-details__sidebar .title {
    font-weight: 700;
    line-height: calc(33 / 18);
    text-align: center;
    padding: 0.9rem 0;
    margin: 0;
    width: 100%;
}

.sidebar__recommend {
    margin-bottom: 2.8rem;

    @include sp {
        margin-bottom: 3rem;
    }
}

.sidebar__recommend-list {
    margin-top: 1.5rem;
}

.sidebar__newsletter--inner {
    position: relative;
}

.sidebar__newsletter--inner,
.sidebar__search--inner {
    padding: 1.5rem;
    border: 0.5px solid $black;

    @include sp {
        padding: 1.9rem;
    }
}

.sidebar__newsletter {
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.8rem;
        font-weight: 700;
        line-height: calc(33 / 18);
    }
}

.sidebar__search-form {
    display: flex;
}

.sidebar__search-form input {
    background-color: rgba(232, 232, 232, 1);
    border: none;
    width: 18rem;
    padding: 1rem 1.5rem;
    height: 4rem;

    @include sp {
        height: 5.4rem;
        flex: 1;
    }
}

.sidebar__search-form button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;

    @include sp {
        width: 5.4rem;
        height: 5.4rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

.sidebar__search-icon {
    width: 4rem;
    height: auto;

    @include sp {
        width: 5.4rem;
    }
}

.sidebar__search-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sp {
        width: 5.4rem;
        height: 5.4rem;
    }
}

.sidebar__recommend-item {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    line-height: calc(28 / 17);

    &:last-of-type {
        margin-bottom: 0;
    }

    @include sp {
        margin-bottom: 2.2rem;
        gap: 2rem;
    }
}

.sidebar__recommend-link {
    display: flex;
    gap: 1.5rem;
}

.sidebar__recommend-img {
    width: 9.5rem;
    aspect-ratio: 95 / 75;

    @include sp {
        width: 16rem;
        aspect-ratio: 160 / 110;
    }
}


img.attachment-medium.size-medium.wp-post-image {
    aspect-ratio: 200 / 140;
    object-fit: cover;

    @include sp {
        aspect-ratio: 335 / 200;
    }
}

.sidebar__recommend-title {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.sidebar__category-item {
    font-size: 1.7rem;
    border-bottom: 0.5px solid $black;

    a {
        display: block;
        padding: 1.4rem 0 1.2rem;
    }
}

/* ===========================
2カラム
   =========================== */
.blog-details__container {
    display: flex;
    gap: 3rem;
    box-sizing: border-box;

    @include sp {
        flex-direction: column;
        gap: 3rem;
    }
}

.blog-details__main {
    flex: 1;
}

.blog-details__sidebar {
    width: 25rem;

    @include sp {
        width: 100%;
        margin-top: 0;
    }
}