@use "./foundation/all" as *;      

@use "./layout/header" as *;
@use "./layout/footer" as *;

@use "./object/component/component" as *;

@use "./object/project/index-reason" as *;
@use "./object/project/index-main" as *;

@use "./object/project/index-faq" as *;

@use "./object/project/index-flow" as *;
@use "./object/project/index-blog" as *;

@use "./object/project/index-voice" as *;

@use "./object/project/result-details" as *;
@use "./object/project/result-list" as *;

@use "./object/utility/utility" as *;

@use "./object/project/404" as *;

@use "./object/project/blog_list" as *;

@use "./object/project/blog_details" as *;

@use "./object/project/plan" as *;

@use "./object/project/search-1" as *;

@use "./object/project/contact_send" as *;

@use "./object/project/contact_form" as *;

@use "./object/project/search-1" as *;

