@use "../../foundation/all" as *;
@use "../component/component" as *;

.result-details {
    padding: 7rem 0 15.7rem;

    data {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        text-align: left;
    }

    @include sp {
        padding: 5rem 0 19.7rem;
    }
}

.result-details__wrapper {
    margin-bottom: 9rem;

    @include sp {
        margin-bottom: 4rem;
    }
}

.result-details__container {
    display: block;

    time {
        display: block;
        margin-top: 2rem;

        @include sp {
            margin-top: 1.2rem;
        }
    }
}

.result-details__title {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    margin-top: 5rem;
    margin-bottom: 0;

    @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
        margin-top: 3rem;
    }
}

.result-details__img {
    position: relative;

    @include sp {
        width: 100%;
    }

    img {
        aspect-ratio: 880 / 400;
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include sp {
            aspect-ratio: 335 / 236;
        }
    }
}

.left-cell {
    background-color: #E8E8E8;
}

.right-cell {
    background-color: $white;
} 

.result-details__table {
    border-collapse: collapse;

    td {
        border: 0.5px solid #707070;
        padding: 0.8rem 2rem;

        @include sp {
            border: 0.7px solid #707070;
            padding: 0.8rem;
        }
        &:first-child {
            font-weight: 700;
            width: 14rem;

            @include sp {
                min-width: 12rem;
            }
        }

        &:last-child {
            width: 26rem;

            @include sp {
                min-width: 21.5rem;
            }
        }
    }
}

.result-details__profile {
    display: flex;
    margin-top: 6rem;
    gap: 4rem;

    @include sp {
        display: block;
        margin-top: 2.4rem;
    }
}

.result-details__text {
    flex: 1;
    line-height: calc(30 / 18);

    @include sp {
        margin-top: 3rem;
    }
}

.result__next {
    gap: 19.9rem;

    @include sp {
        gap: 2.2rem;
    }
}

.prev__ttl {
    width: 34rem;

    @include sp {
        width: 15.6rem;
    }
}

.result-details__list {
    display: block;

    @include sp {
        margin-top: 2rem;
    }
}

.blog-details__related {
.related__img {
    position: relative;
    width: 26rem;
    height: auto;
    aspect-ratio: 260 / 183;

    @include sp {
        width: 16rem;
        aspect-ratio: 160 / 113;
    }
}
}

.related__text {
    flex: 1;
    time {
        display: block;
        margin-top: 1.5rem;

        @include sp {
            margin-top: 0.9rem;
        }
    }
}

.result-details__prev-next {
    gap: 19.8rem; 
    margin-top: 6.5rem;

    @include sp {
        gap: 2.2rem;
        margin-top: 4rem;
    }
}