@use "../../foundation/all" as *;
@use "../component/component" as *;

.message__404 {
    padding: 7rem 0 9rem;
    text-align: center;
    line-height: calc(30 / 18);

    @include sp {
        padding: 4rem 0 5rem;
    }
}

.message__404text {

    @include sp {
        text-align: left;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
}
}
