@use "../../foundation/all" as *;
@use "../component/component" as *;

.message {
    padding-top: 7rem;
    text-align: center;
    line-height: calc(30 / 18);

    @include sp {
        padding-top: 4rem;
    }
}

.message__404text {

    @include sp {
        text-align: left;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
}
}
