@use "../../foundation/all" as *;
@use "../component/component" as *;

.contact-send {
    padding: 6.7rem 0 9rem;
    text-align: center;


    @include sp {
        padding: 4.7rem 0 10.8rem;
    }
}

.contact-send__text {
    line-height: calc(30 / 18);
    text-align: center;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        text-align: left;
    }
}

