@use "../../foundation/all" as *;
@use "../component/component" as *;

.contact-form {
    padding: 7rem 0 10rem;

    @include sp {
        padding: 4.5rem 0 10.8rem;
    }
}

.contact-form__text {
    line-height: calc(30 / 18);
    text-align: center;

    @include sp {
        text-align: left;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        margin-bottom: 3.2rem;
    }
}

.contact-form__form-wrapper {
    margin-top: 6.5rem;

    @include sp {
        margin-top: 2.9rem;
    }
}

.form-item {
    margin-top: 2.9rem;

    @include sp {
        margin-top: 1.4rem;
    }

    &:first-of-type {
        margin-top: 0;
    }
}

.form-item.form-item--tel {

    @include sp {}
}

.form-group-body input[type="text"],
.form-group-body input[type="email"],
.form-group-body input[type="tel"],
.form-group-body textarea {
    width: 100%;
    padding: 0.9rem 2rem;
    font-size: 1.8rem;
    border: 0.5px solid $black;

    @include sp {
        font-size: 1.6rem;
        padding: 0.8rem 2rem 1.1rem;
    }
}

.form-item input[type="text"]::placeholder,
.form-item input[type="email"]::placeholder,
.form-item input[type="tel"]::placeholder,
.form-item textarea::placeholder {
    font-size: 1.5rem;
    color: #B2B2B2;
}

.form-group-heading {
    display: inline-block;
    font-size: 2rem;
    text-align: left;
    width: fit-content;
}

.form-group {
    display: grid;
    grid-template-columns: 14rem 1fr;
    align-items: center;
    gap: 3rem;

    @include sp {
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }
}

.contact-form__form-item--label {
    display: inline-block;
    cursor: pointer;
    width: 15rem;

    span {
        display: block;

        @include sp {
            display: inline;

            &::before {
                content: "\00A0\00A0";
            }
        }
    }

    @include sp {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }
}

.contact-form__form-item--label--checkbox {
    cursor: default;

    @include sp {
        display: flex;
    }
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
}

.form-group-heading {
    width: 14rem;

    @include sp {
        width: auto;
    }
}

.form-item--checkbox {
    display: grid;
    grid-template-columns: 14rem 1fr;
    gap: 3rem;
    font-size: 2rem;
    align-items: flex-start;
    line-height: calc(30 / 20);
    margin-bottom: 0;

    @include sp {
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }
}


.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;


    .wpcf7-list-item {
        display: block; 
        margin-bottom: 2rem;  
        margin-left: 0; 
        
        &:last-child {
            margin-bottom: 0;
        }
    }

    input[type="checkbox"] {
        appearance: none;
        cursor: pointer;
        margin-right: 2rem;
        border: 0.5px solid $black;
        width: 2rem;
        height: 2rem;
        align-items: center;
        position: relative;

        @include sp {
            margin-right: 1rem;
        }

        &::after {
            content: "✔";
            position: absolute;
            top: -0.3rem;
            left: 0.3rem;
            margin: auto;
            pointer-events: none;
            color: $black;
            opacity: 0;
            font-size: 1.2rem;
            line-height: calc(33 / 15);
            transition: opacity 0.5s ease
        }

        &:checked {
            background-color: $white;
            border: 0.5px solid $black;

            &::after {
                opacity: 1;
            }
        }
    }

    label {
        cursor: pointer;
        width: fit-content;
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 1.8rem;

        @include sp {
            font-size: 1.6rem;
        }
    }
}

.form-item textarea {
    display: block;
    width: 100%;
    min-height: 30rem;
    resize: vertical;
    overflow-wrap: break-word;
    padding: 2rem;
    line-height: 1.5;

    @include sp {
        min-height: 19rem;
        padding: 1rem 2rem;
    }
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
}

.contact-form__form-item--submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    background-color: #CB0000;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.32;
    letter-spacing: 0.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 5.2rem;
    cursor: pointer;
    padding: 0.9rem 0;
    border: 1px solid #CB0000;
    width: 100%;
    max-width: 25rem;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease, color 0.5s ease;

    @include sp {
        font-size: 2rem;
        line-height: calc(26 / 20);
        padding: 1.1rem 0;
        max-width: 33.5rem;
        margin-top: 5rem;
    }

    &:hover {
        background-color: white;
        color: $red;
    }
}

.contact-form__form-item--submit span:last-child {
    letter-spacing: 0;
}

.form-group-heading--message {
    padding-top: 1rem;

    @include sp {
        padding-top: 0;
    }
}
// 詳細度をさらに引き上げ、タグの種類まで指定します
div.contact-form__form-wrapper div.form-item.is-align-top {
    // 目的（チェックボックス）の親
    &.form-item--checkbox {
        display: grid; // 念のため再宣言
        align-items: flex-start;
    }

    // 内容（textarea）の親
    .form-group {
        display: grid; // 念のため再宣言
        align-items: flex-start;
    }

    // 「目的」ラベルのpタグ：余白を完全にリセット
    p.contact-form__form-item--label--checkbox {
        margin: 0 !important; // ブラウザ標準設定が強すぎる場合があるため、ここだけは例外的に検討
        line-height: 1.5;      // 文字の高さを固定してズレを防ぐ
        padding-top: 0.5rem;   // 入力側との微調整

        @include sp {
            padding-top: 0;
        }
    }
}

.mgb-40 {
    margin-bottom: 4rem;
}

.floating-btn {
    @include sp {
        right: 6.5rem;
    }
}

.wpcf7-not-valid-tip {
    margin-top: 6px;
    color: $red;
  }

  .wpcf7 form.invalid .wpcf7-response-output {
    border: none;
    font-size: 1.8rem;
    text-align: center;
    color: $red;
    @include sp {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
  
  .wpcf7 form.sent .wpcf7-response-output {
    border: none;
    font-size: 1.8rem;
    text-align: center;
    color: $red;
    @include sp {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }