@use "../../foundation/all" as *;
@use "../component/component" as *;


.blog {
    padding: 6.8rem 0 20.5rem;

    @include sp {
        padding: 5rem 0 19.1rem;
    }
}

.blog__list {
    margin-top: 3.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    margin-inline: auto;

    @include sp {
        flex-direction: column;
        gap: 0;
        margin-top: 3.9rem;
    }
}

.blog__item {
    width: 29.5%;

    @include sp {
        max-width: none;
        margin-top: 4.7rem;
        width: 100%;
    }

    &:first-of-type {
        margin-top: 0;
    }

    time {
        display: block;
        text-align: right;
        font-size: 1.7rem;
        margin-top: 1.5rem;

        @include sp {
            margin-top: 1rem;
        }
    }

    a {
        width: 100%;
    }
}

.blog__title {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    margin-top: 2rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
        margin-top: 3rem;
    }
}

.top__img-wrapper {
    overflow: hidden;
    position: relative;

    @include sp {
        width: 100%;
    }
}

.top__img-wrapper img {
    aspect-ratio: 260 / 200;
    object-fit: cover;
    max-width: 26rem;
    height: auto;

    @include sp {
        aspect-ratio: 335 / 200;
        max-width: 100%;
    }
}

data {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-top: 1rem;
    display: block;
    text-align: right;

    @include sp {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        margin-top: 0.6rem;
    }
}


.more-link {
    line-height: calc(30 / 18);
    margin-top: 4.4rem;
    text-align: right;

    @include sp {
        margin-top: 4.5rem;
        text-align: center;
    }
}

.more-link a {
    display: inline-block;
    position: relative;
    transition: opacity 0.5s ease;

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0.5rem;
        width: 100%;
        height: 0.5px;
        background: $black;
    }

    &:hover {
        opacity: 0.5;
    }
}