@use "../../foundation/all" as *;
@use "../component/component" as *;

.faq {
    padding: 0 0 7rem;

    @include sp {
        padding-bottom: 4.3rem;
    }
}

.faq__list {
    margin-top: 3.6rem;

    @include sp {
        margin-top: 3.9rem;
    }
}

.faq__item {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: block;

    @include sp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 88rem;
        width: 100%;
        height: 0.05rem;
        background-color: rgba(0, 0, 0, 1);
    }

    &:first-child::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        max-width: 88rem;
        width: 100%;
        height: 0.05rem;
        background-color: rgba(0, 0, 0, 1);
    }
}

.faq__question {
    all: unset;
    cursor: pointer;
    display: flex;
    width: 100%;
    position: relative;
    padding: 2rem 0 1rem 2rem;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5rem;
        width: 0.8rem;
        height: 0.8rem;
        border-right: 0.1rem solid #000;
        border-bottom: 0.1rem solid #000;
        transform: translateY(-50%) rotate(45deg);
        transition: transform 0.4s;

        @include sp {
            right: 1.5rem;
        }
    }

    &[aria-expanded="true"]::after {
        transform: translateY(-50%) rotate(225deg);
    }

    @include sp {
        padding: 1.5rem 0 1.2rem 0;
        align-items: center;
    }
}


.faq__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-right: 0.8rem;

    @include sp {
        margin-right: 2rem;
    }
}

.faq__icon--q {
    background-color: $black;
    color: #fff;
}

.faq__icon--a {
    background-color: $red;
    color: #fff;
}

.faq__text {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    flex: 1;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        width: 29rem;
        padding-right: 4.7rem;
    }
}

.faq__answer {
    display: none;
    position: relative;
    display: flex;
    color: $red;
    padding: 2rem 0 1rem 2rem;
    background-color: rgba(203, 0, 0, 0.098);
    width: 100%;

    @include sp {
        align-items: center;
        padding: 1.3rem 0;
    }
}