@use "../../foundation/all" as *;
@use "../component/component" as *;

.faq {
    padding-top: 6rem;

    @include sp {
        padding-top: 5.5rem;
    }
}

.faq__list {
    margin-top: 3.6rem;

    @include sp {
        margin-top: 3.9rem;
    }
}

.faq__item {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: block;

    @include sp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 88rem;
        width: 100%;
        height: 0.5px;
        background-color: rgba(0, 0, 0, 1);
    }

    &:first-child::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        max-width: 88rem;
        width: 100%;
        height: 0.5px;
        background-color: rgba(0, 0, 0, 1);
    }
}

.faq__question {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 1.5rem 6.5rem 1.5rem 2rem;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 2.8rem;
        width: 1.5rem;
        height: 1rem;
        background-image: url("../img/faq-arrow.svg");
        background-repeat: no-repeat;
        background-size: 1.5rem;
        transition: transform 0.4s;

        @include sp {
            right: 1.5rem;
        }
    }

    &[aria-expanded="true"]::after {
        transform: translateY(-50%) rotate(180deg);
    }

    @include sp {
        padding: 1.3rem 5rem 1.3rem 0;
        align-items: center;
    }
}

.faq__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    margin-right: 0.8rem;

    @include sp {
        margin-right: 2rem;
    }
}

.faq__icon--q {
    background-color: $black;
    color: #fff;
}

.faq__icon--a {
    background-color: $red;
    color: #fff;
}

.faq__text {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    flex: 1;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        width: 29rem;
    }
}

.faq__answer {
    display: none;
    position: relative;
    box-sizing: border-box;
    display: flex;
    color: $red;
    font-weight: 700;
    align-items: center;
    padding: 1.5rem 6.5rem 1.5rem 2rem;
    background-color: rgba(203, 0, 0, 0.098);
    width: 100%;

    @include sp {
        align-items: center;
        padding: 1rem 5rem 1rem 0;

    }
}