@use "../../foundation/all" as *;
@use "../component/component" as *;

.voice {
    padding: 4.4rem 4rem 8rem;
    color: $white;
    text-align: center;
    background-color: $red;
    position: relative;
    z-index: 100;

    @include sp {
        padding: 4.6rem 0 5rem;
    }
}

.voice__container {
    position: relative;
}


.voice__inner {
    margin-top: 3.6rem;
    pointer-events: auto;

    @include sp {
        margin-top: 3.9rem;
    }
}

.voice__item a {
    flex-shrink: 0;
    color: $white;
    width: 100%;
    box-sizing: border-box;
}

.voice__link {
    display: block;
    overflow: hidden;
    pointer-events: auto;

    &:hover {
        .voice__img img {
            transform: scale(1.1);
        }

        .voice__text-block {
            opacity: 0.5;
        }
    }
}

.voice__item a.voice__link {
    opacity: 1;
}

.voice__img {
    overflow: hidden;
}

.voice__img img {
    object-fit: cover;
    transition: transform 0.5s ease;
    aspect-ratio: 27 / 19;
    height: 100%;
    width: 100%;

    @include sp {
        aspect-ratio: 335 / 200;
    }
}

.voice__text-block {
    opacity: 1;
    transition: opacity 0.5s ease;
    margin-top: 1.7rem;

    @include sp {
        margin-top: 2.7rem;
    }
}

.voice__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    @include sp {
        margin-top: 2.7rem;
    }
}

.voice__text {
    text-align: left;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.voice__prev,
.voice__next {
    position: absolute;
    bottom: 17rem;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    display: block;
    transition: opacity 0.5s ease, transform 0.5s ease;

    &:hover {
        transform: scale(1.2);
        opacity: 0.8;
    }

    @include sp {
        bottom: 19rem;
    }
}

.voice__prev img,
.voice__next img {
    display: block;
    width: 3rem;
    height: auto;
}

.voice__prev {
    left: -2rem;

    @include sp {
        left: 2rem;
    }
}

.voice__next {
    right: -2rem;

    @include sp {
        right: 2rem;
    }
}