@use "../../foundation/all" as *;
@use "../component/component" as *;


.blog {
    padding: 6.8rem 0 5rem;

    @include sp {
        padding-top: 6rem;
    }
}

.blog__list {
    margin-top: 3.2rem;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    margin-inline: auto;

    @include sp {
        flex-direction: column;
        gap: 0;
        margin-top: 3.9rem;
    }
}

.blog__item {
    width: 29.5%;
    @include sp {
        max-width: none;
        margin-top: 4.7rem;
        width: 100%;
    }

    &:first-of-type {
        margin-top: 0;
    }

    time {
        display: block;
        text-align: right;
        font-size: 1.7rem;
        margin-top: 1.5rem;

        @include sp {
            margin-top: 1rem;
        }
    }

    a {
        width: 100%;
    }
}

.blog__title {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    margin-top: 2rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
        margin-top: 3rem;
    }
}

data {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-top: 1rem;
    display: block;
    text-align: right;

    @include sp {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        margin-top: 0.6rem;
    }
}


.more-link {
    line-height: calc(30 / 18);
    margin-top: 4.4rem;
    text-align: right;
    transition: all 0.3s ease;

    @include sp {
        margin-top: 4.5rem;
        text-align: center;
    }
}

.more-link a {
    display: inline-block;
    position: relative;
    // border-bottom: 1px solid $black;
    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0.5rem;
        width: 100%;
        height: 0.5px;
        background: $black;
        transition: all 0.3s ease;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}