@use "../../foundation/all" as *;
@use "../component/component" as *;

.price {
    padding: 7.5rem 0 5.7rem;

    @include sp {
        padding: 5.4rem 0 3.8rem;
    }
}

.price__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-size: 2rem;
    color: $white;
    gap: 3rem;

    @include sp {
        flex-direction: column;
        gap: 1.9rem;
        margin-top: 4.5rem;
    }
}

.price__title {
    padding: 1.8rem 0 1.3rem;
    background-color: $red;
    height: 6rem;
    width: 21rem;
    text-align: center;
    font-weight: 700;

    @include sp {
        padding: 1.8rem 0;
        width: 21rem;
    }
}

.price__title--enrollment {
    padding: 1.8rem 0 1.3rem 0;
    height: 6rem;
    align-items: center;
    width: 21rem;
    text-align: center;

    @include sp {
        padding: 1.8rem 0;
        width: 21rem;
    }
}

.price__plus {
    position: relative;
    width: 1.85rem;
    height: 1.85rem;
    display: inline-block;


    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: $black;
    }

    // 横線
    &::before {
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.3rem;
        transform: translateY(-50%);
    }

    // 縦線
    &::after {
        top: 0;
        left: 50%;
        width: 0.3rem;
        height: 100%;
        transform: translateX(-50%);
    }
}

.price__text {
    margin-top: 4.8rem;
    line-height: calc(30 / 18);

    @include sp {
        margin-top: 4.7rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
}

/* ===========================
   プラン内容・月額料金
   =========================== */

//以下１セクションはコード自動生成しました
// ==============================
// Plan Table (SCSS)
// ==============================
.plan {
    padding: 0 0 6.5rem;

    .c-section-title {
        margin-bottom: 4.8rem;

        @include sp {
            margin-bottom: 0.6rem;
        }
    }
}

.plan__scroll {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 3rem;


    @include sp {
        overflow-x: auto;
    }
}

.plan__note {
    margin-top: 2.8rem;
    font-size: 1.7rem;
    line-height: calc(25 / 17);
    text-align: left;

    @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        margin-top: 2rem;
    }
}

.plan-table {
    width: 100%;
    min-width: 0;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    // margin-top: 3rem;
}

.plan-table th {
    font-weight: normal;
    vertical-align: middle;

}

.plan-table__heading,
.plan-table__label.plan-table__top,
.plan-table__price.plan-table__top {
    font-weight: 700;
}

.plan-table__cell {
    text-align: center;
    vertical-align: middle;
}

.plan-table__col--feature {
    width: 22rem;

    @include sp {
        width: 16.9rem;
    }
}

.plan-table__col--plan {
    width: 22rem;

    @include sp {
        width: 16.65rem;
    }
}

.plan-table__heading {
    background: $black;
    color: $white;
    text-align: center;
    padding: 1rem 0 0.5rem;
    position: relative;
    height: 5rem;
}

.plan-table__heading--blank {
    background: transparent;
}

.plan-table__heading--featured {
    position: relative;
    background: $red;
    padding-top: 3rem;
}

.plan-table__badge {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
    padding: 1.8rem 0 0.5rem;
    background-color: $red;
    width: 100%;
}

.plan-table__plan-name {
    display: inline-block;
    font-size: 2rem;
    line-height: calc(33 / 20);
    text-align: center;
    margin-inline: auto;
    font-weight: 700;

    @include sp {
        display: block;
        line-height: calc(25 / 20);
        max-width: 17rem;
    }
}

.plan-table__price-row th,
.plan-table__price-row td {
    background: $white;
    border-top: 0.5px solid $black;
}

.plan-table__price-row td.plan-table__price--featured {
    border-top: 0.5px solid $red;
}


.plan-table__label {
    text-align: left;
    padding-left: 2rem;

    @include sp {
        // padding: 3rem 1rem;
        padding: 0 1rem;
        height: 8.5rem;
    }
}

.plan-table__price {
    text-align: center;
    padding: 3rem 2rem 2.2rem;

    @include sp {
        padding: 3rem 2rem 2.2rem;
    }
}

.plan-table__price span {
    font-size: 2.2rem;
    line-height: calc(33 / 22);

    @include sp {
        font-size: 2.2rem;
        line-height: calc(33 / 22);
    }
}

.plan-table__price--featured {
    color: $red;
}

.plan-table__heading--tall {
    padding: 0;
}

tbody tr:nth-child(odd) {
    background: $gray;
}

tbody tr:not(:last-child) {
    border-bottom: 0.5px solid $black;
}

tbody tr__cell {
    text-align: center;
    padding: 1.1rem 1rem;
    border-top: 0.5px solid $black;

}

tbody tr__note {
    display: inline-block;
    font-size: clamp(12px, 1.4vw, 14px);
    white-space: nowrap;
}

.plan-table__dash {
    display: inline-block;
    width: 3rem;
    height: 1px;
    background-color: #707070;
    opacity: .5;
    vertical-align: middle;
}

/* ドット（●） */
.u-dot {
    --size: 15px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: $black;
    vertical-align: middle;
}

.u-dot--red {
    background: $red;
}

.tab-only {
    display: none;

    @media screen and (max-width: 850px) {
        display: block;
    }
}

.plan-table tbody tr {

    th,
    td {
        height: 8.5rem;
    }
}

/* 一番下の行に線をつける */
.plan-table tbody tr:last-child th,
.plan-table tbody tr:last-child td {
    border-bottom: 0.5px solid $black;
    height: 8.5rem;
}



/* 罫線 */
.plan-table th,
.plan-table td {
    border-right: 0.5px solid $black;
    font-size: 1.7rem;
    line-height: calc(30 / 17);

    @include sp {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
    }
}

.plan-table th:last-child,
.plan-table td:last-child {
    border-right: 0;
}

.plan-table__cell.no-border-bottom {
    border-bottom: none !important;
}

/* SP調整 */
@include sp {
    .plan {
        padding-bottom: 3.5rem;
    }

    .plan__scroll {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .plan-table {
        margin-bottom: 4rem;
    }

    .plan-table__badge {
        top: 1rem;
        margin-top: -2rem;
    }

    .plan-table__badge {
        top: -0.8rem;
    }
}

//スクロールバー


/* Chrome, Edge, Safari */
[data-simplebar]::-webkit-scrollbar {
    display: none;
}

/* Firefox */
[data-simplebar] {
    scrollbar-width: none;
}

/* 擬似要素を透明にする */
.simplebar-scrollbar::before {
    background: transparent !important;
}

/* ホバー時も透明 */
.simplebar-scrollbar:hover::before {
    background: transparent !important;
}



/* 横スクロールのトラック */
.simplebar-track.simplebar-horizontal {
    background: rgba(80, 80, 80, 0.149) !important;
    height: 2.3rem !important;
    border-radius: 0 !important;
}

/* 横スクロールのつまみ */
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    background: rgba(80, 80, 80, 0.251) !important;
    height: 100% !important;
    border-radius: 0 !important;
}