@use "../../foundation/all" as *;
@use "../component/component" as *;

.search-message {
    text-align: center;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    line-height: calc(30 / 18);
    flex-wrap: nowrap;
    gap: 1rem;

    @include sp {
        justify-content: center;
        text-align: center;
    }
}

.blog--sub {
    padding: 6.5rem 0 6rem;
    
    @include sp {
    padding-top: 3.8rem;
}
}

.blog--sub--search {
    margin-top: 4.3rem;
}

.blog__list--sub {
    margin-top: 0;
}

.search-message__title {
flex: 1 1 auto;
min-width: 0;
text-align: left;
word-break: break-word;
font-size: 1.8rem;
margin: 0;
    span {
        font-weight: 700;
    }

    @include sp {
        text-align: left;
        // flex-basis: 100%;
    }
}

.search-message__num {
    flex-shrink: 0;
    margin-left: auto;
}

.pagination__search {
margin-top: 6.5rem;
}
