@use "../../foundation/all" as *;
@use "../component/component" as *;

.search-message {
    text-align: center;
    margin-top: 6.6rem;
    display: flex;
    justify-content: space-between;
    line-height: calc(30 / 18);
    flex-wrap: wrap;
    gap: 1rem;

    @include sp {
        margin-top: 4rem;
        justify-content: center;
        text-align: center;
    }
}

.c-blog--sub--search {
    padding: 4.2rem 0 5rem;

    @include sp {
        padding: 4rem 0 5rem;
    }
}

.blog__list--sub {
    margin-top: 0;
}

.search-message__title {
flex-grow: 1;
min-width: 0;
text-align: left;
    span {
        font-weight: 700;
    }

    @include sp {
        text-align: left;
        // flex-basis: 100%;
    }
}

.search-message__num {
    flex-shrink: 0;
}

.search {
    padding-bottom: 22rem;
}

.pagination__search {
margin-top: 5.3rem;
}

