@use "variable" as *;
@use "normalize" as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    scroll-behavior: smooth;
    font-size: 10px;

    @media (max-width: 920px) and (min-width: 768px) {
        font-size: calc(10 / 920 * 100vw);
    }

    @include sp {
        font-size: min(vw(10, 375), 500 / 375 * 10px);
    }
}

body {
    color: #000000;
    font-family: "YuGothic", "Yu Gothic", "游ゴシック", "Noto Sans JP", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.001em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
    color: $black;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    transition: opacity 0.5s ease;

    &:hover {
        opacity: 0.5;
    }
}

.pc-only {
    display: block !important;

    @include sp {
        display: none !important;
    }
}

.sp-only {
    display: none !important;

    @include sp {
        display: block !important;
    }
}

.inner {
    max-width: 920px;
    margin-inline: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    @include sp {
        max-width: none;
    }
}

main {
    margin-top: 8rem;
    display: block;
    position: relative;

    @include sp {
        margin-top: 5rem;
    }
}

//追従ボタンがない場合に直前のセクションに余白を
main .add-bottom-padding {
    padding-bottom: 10rem; 

    @include sp {
        padding-bottom: 10.8rem;
    }
}

// * {
//     outline: 1px solid red; /* 全要素の枠線を表示 */
//   }